.compare-container {
  min-height: 100%;
  width: 100%;
  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100%;
    .empty-button {
      cursor: pointer;
      border-radius: 10rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: var(--accent-color);
      
      svg {
        font-size: 5rem;
        color: whitesmoke;
        &:hover{
          color: greenyellow;
          transition: all 0.3s ease-in-out;
          transform: scale(1.2);
        }
      }
    }
    h3 {
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }
  }
}

.compare-element {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr;
  .compare-info {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: 100%;
    display: grid;
    grid-template-rows: 45% 50%;
    .compare-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .compare-image {
        height: 13rem;
      }
    }
    .pokemon-types-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 3rem;
      .pokemon-types {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 2rem;
        width: 100%;
        .pokemon-type-title {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .pokemon-type-icons {
          display: flex;
          gap: 1rem;
          width: 90%;
          flex-wrap: wrap;
          .pokemon-type {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .pokemon-type-image {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }
      }
    }
  }
  .compare-action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    button {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: rgb(228, 228, 228);
      cursor: pointer;
      background-color: transparent;
      letter-spacing: 0.1rem;
      border: 1px solid rgba(255, 255, 255, 0.645);
      transition: 0.3s ease-in;
      &:nth-of-type(1) {
        border-top-left-radius: 15px;
        &:hover {
          background-color: #00a3ee;
          border-color: #00a3ee;
        }
      }
      &:nth-of-type(2) {
        &:hover {
          background-color: #27af0f;
          border-color: #27af0f;
        }
      }
      &:nth-of-type(3) {
        border-top-right-radius: 15px;
        &:hover {
          background-color: rgb(253, 38, 38);
          border-color: rgb(253, 38, 38);
        }
      }
    }
  }
}
