.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &-btn {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.4s ease-in-out;
    font-weight: 700;
    svg {
      font-size: 3rem;
    }
    &:hover {
      border-radius: 3rem;
      border-width: 10px;
      border-top-color: rgb(216, 35, 19);
      border-bottom-color: rgb(15, 157, 88);
      border-left-color: rgb(240, 180, 0);
      border-right-color: rgb(34, 113, 240);
      cursor: pointer;
    }
  }
}
