.pokemon-card-grid-container {
  max-height: 80vh;
  overflow-y: scroll;
  color: white;
  text-transform: uppercase;

  .pokemon-card-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 4rem 0;
    justify-items: center;
    align-items: center;

    .pokemon-card {
      width: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.125);
      border-radius: 1rem;
      padding: 1rem;
      margin-bottom: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;
      svg {
        transition: 0.3s ease-in-out;
        &:hover {
          font-size: 2rem;
        }
      }
      &-list {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        cursor: pointer;
        .trash {
          color: #e21b5a;
        }
        .plus {
          color: #27af0f;
        }
      }
      &-compare {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
        cursor: pointer;
        svg {
          color: #1f51ff;
        }
      }
      &-title {
        text-align: center;
        cursor: pointer;
        margin-top: 1rem;
      }
      &-image {
        height: 10rem;
        margin-bottom: 0.8rem;

        //   filter: drop-shadow();
        cursor: pointer;
      }

      &-types {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 1rem;
        &-type {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 0.5rem;
          gap: 0.4rem;
          &-image {
            height: 2rem;
          }
          &-text {
            font-size: smaller;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .pokemon-card-grid-container {
    width: 100vw;
    .pokemon-card-grid {
      margin: 2rem 1rem;
      grid-template-columns: 1fr;
      justify-items: center;

      .pokemon-card {
        width: 230px;
        &-image {
          animation: none;
          height: 9rem;
        }
        &-title {
          padding-top: 10px;
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1100px) {
  .pokemon-card-grid-container {
    width: 100vw;
    .pokemon-card-grid {
      grid-template-columns: 1fr;
      justify-items: center;

      margin: 1rem;
      .pokemon-card {
        &-image {
          animation: none;
        }
      }
    }
  }
}
