footer {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  // border-top: 0.5px solid rgba(255, 255, 255, 0.23);
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-top: -15vh;
      color: #e21b5a;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
  // .data {
  //   border: 0.5px solid rgba(255, 255, 255, 0.23);
  //   border-top: none;
  //   border-bottom: none;
  // }
}
