nav {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.23);
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }
    img {
      cursor: pointer;
      height: 3rem;
    }
  }
  .data {
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border-top: none;
    border-bottom: none;
    padding: 0 20rem;

    ul {
      display: grid;
      grid-template-columns: repeat(6, 20%);
      height: 100%;
      list-style-type: none;
      z-index: 1;
      position: relative;

      a {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid transparent;

        li {
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 500;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}

.underline {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0rem;
  background-color: white;
  width: 20%;
  height: calc(4px / 2);
  mix-blend-mode: initial;
  pointer-events: none;
  transition: 0.5s ease-in-out;

  &:nth-child(1) {
    transition: calc(0.5s * 0.8) ease-in-out;
  }
  &:nth-child(2) {
    transition: calc(0.5s * 1.2) ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    border-bottom: none;
    .block {
      img {
        padding-top: 10px;
      }
    }
    .data {
      padding: 20px;
      border: none;
    }
  }
}
