.compare {
  display: grid;
  grid-template-columns: 49% 49%;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .compare {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5rem;
  }
}
